# Database connection for Prisma
DATABASE_URL="postgresql://admin:password123@db:5432/lms_database?schema=public"

# For local development (outside Docker)
# DATABASE_URL="postgresql://admin:password123@localhost:5432/lms_database?schema=public"

# Server configuration
PORT=5000
NODE_ENV=development

# JWT Configuration
JWT_ACCESS_SECRET="your-super-secret-access-key-here-change-in-production"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-here-change-in-production"

# Client URL
CLIENT_URL="http://localhost:3000"

# Email Configuration (Nodemailer / SMTP / Resend)
# Leave blank to fallback to Ethereal dev email in development
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM='"LMS Platform" <noreply@lms.local>'

# Lấy từ email cấp mã Sandbox của VNPAY
VNP_TMN_CODE= 
VNP_HASH_SECRET= 

# URL test cố định của VNPAY
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"

# Frontend Return URL
VNP_RETURN_URL="http://localhost:3000/payment-result"

# Mật khẩu gốc cấp cho Admin khi khởi tạo hệ thống (Khuyên dùng mật khẩu mạnh)
ADMIN_SEED_EMAIL="admin@yourdomain.com"
ADMIN_SEED_PASSWORD="SuperSecretAdminPassword!2026"
USER_SEED_PASSWORD="HocVienDemo!2026"